

@tailwind utilities;

@layer utilities {
  .clip-path-parallelogram {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.fc-customTask-button::before {
    content: 'reply'; /* 表示するマテリアルアイコン */
    font-family: 'Material Icons'; /* マテリアルアイコンのフォントを指定 */
    vertical-align: middle; /* アイコンをテキストに揃える */
  }
  
  
  html, body {
  height: 100%;
  overflow: hidden; /* 縦方向のスクロールを無効化 */
  touch-action: none; /* スワイプ動作を無効化 */
}

input, textarea {
  color-scheme: light;
}
